body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f5f5f5;
  font-family: poppins;
}

main {
  flex: 1 0 auto;
}


.vidanpb {
  height: auto;
  padding: 1rem;
  border-radius: 50%;
  float: right;
  width: 25%;
}


.mediaIcons {
  color: #eeeeee;
  padding: 0.5rem;
}

.parallax-container {
  height: 500px;
}

