body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #fafafa;
  font-family: poppins;
}

main {
  flex: 1 0 auto;
}


.mediaIcons {
  color: #eeeeee;
  padding: 0.5rem;
}

.parallax-container {
  height: 500px;
}