body {
    font-family: 'Poppins', serif;
    color: black;
    background: #e6dbc9;
}

p {
    font-size: 14px;
}

.box {
    background: rgba(22, 22, 22, 0.85);
    color: black;
}

.box p {
    font-size: 40px;
}


.list li {
    padding: 0.5rem;
    font-size: 16px;
}

.list h5 {
    padding: 0.5rem;
}

.reps {
    padding: 0.5rem;
}

.intro {
    height: 300px;
}

.introImg {
    width: 100%;
    height: auto;
    max-height: 300px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
}

.struggleImg {
   width: 100%;
   height: auto;
   max-height: 500px;
   min-height: 100px;
   object-fit: cover;
   overflow: hidden;
}

.imgBox {
    max-width: 100%;
    height: auto;
    max-height: 500px;
    min-height: 100px;
    object-fit: cover;
    overflow: hidden;
}
.emptySpace {
    margin: 5rem;
}

.introImgColumn {
    position: relative;
    text-align: center;
    color: white;
}


.introImgText {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);   
}

.tabs .tab a:hover {
    background-color: rgba(255, 255, 255, 0.253);
    color: #000;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
    background-color: black;
}

/*Color of underline*/

.tabs-content.carousel {
    width: 100%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.tabs-content.carousel .carousel-item {
    width: 100%;
    height: 100%;
}

.wpHeader {
    padding: 1rem;
    border-radius: 1rem;
}

#twoBB {
    width: 50%;
}


.quote {
    display: block;
    padding: 4.5rem 0;
    margin-bottom: 3.33rem;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
    color: #4a4a4a;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .quote {
        font-size: 2.5rem;
    }
}